*.gem
*.log
*.rbc
*.swp
.bundle
.idea/
.vscode/
/node_modules/*
Gemfile.lock
pkg/*
spec/dummy_app/Gemfile*.lock
spec/dummy_app/config/database.yml
spec/dummy_app/db/*.sqlite3
spec/dummy_app/db/*.sqlite3-journal
spec/dummy_app/db/*.sqlite3-shm
spec/dummy_app/db/*.sqlite3-wal
spec/dummy_app/log/*.log
tmp/**/*
