<% flash && flash.each do |key, value| %>
  <div class="<%= flash_alert_class(key) %> alert alert-dismissible" data-controller="alert">
    <%= value %>
    <button type="button" class="btn-close" data-action="alert#dismiss" aria-label="Close"></button>
  </div>
<% end %>
<%= yield %>
